# Node modules
Backend/node_modules
Frontend/node_modules

# Env
Backend/.env
Frontend/.env
.env

# Vscode
.vscode

# Backend
Backend/src/config/
Backend/dbFiles

# Database
data

# Build
Frontend/build
