@use "../../css/generalVariables.scss" as var;

.totalNutrients {
    margin: auto;
    & p {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        margin: 1rem;
    }
    & .nutValues {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 1rem;
        list-style: none;
        & li {
            border: 1px solid var.$pri-color;
            padding: 0.5rem;
        }
    }
}
.gptForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    & p {
        white-space: pre-line;
        text-align: left;
        font-size: 1rem;
    }
    & picture {
        height: 10vh;
    }
    & button {
        margin-top: 1rem;
    }
}
